/* Home.css */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fbf0d3;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}


